.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
    
}
.container label{
    font-size: 30px;
    padding-bottom: 20px;
}

.button1{
    background-color: rgb(255, 255, 255);
    height: 53px;
    width: 103px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: solid 2px black;
    margin-bottom: 1rem;
}

.button2{
    background-color: black;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border: solid 2px white;

    
}

.btb{
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    height: 5.5rem;
    width:10.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}